*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.container{
    background-color: white;
    border: 2px solid whitesmoke;
    border-radius: 7px;
    box-shadow: 0px 4px 8px rgb(193, 192, 192);
    display: flex;
    flex-direction: row;
    width: 450px;
  
}
.sidebar{
    display: grid;
    grid-template-rows:  1fr 2fr;
    width: 100px;
    padding:10px;
    justify-content: space-between;
    border-right: 2px solid #ddd; 
    justify-content: center;
    cursor: pointer;
}
.acc{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}
.message{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.inbox{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    
}
.box{
    display: flex;
    align-items: center;
}
.chat{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}
p{
    color: rgb(195, 200, 202);
}
.material-icons:hover{
    color: blue;
}
#e:hover{
    width: 340px;
    border-radius: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding:10px;
    margin-top: 5px;
    color: blue;
}
